# here where i save my python notes for ml and data science

### Tuples

In [ ]:
"""
  - an orderd sequence of values
  - can containg diffrente data types and nested tuples
  - immutable
  - access the elements by it's indext
  - provide slicing
  - you can concatinate tuples
"""
tuple1 = (1,2,43,"Hello world!" , True, 3.14159)
print(tuple1[0])

tuple2  = (4  , 5 ," Hassan " , False)
concat_tuple = tuple1 + tuple2
print(concat_tuple)

tuple3 = (3,2,4,5,1,6,8,7)
sorted_tuple = sorted(tuple3)
print(sorted_tuple)

tuple4 = (1,2,3, tuple1  , ("one" , "two"))
print(tuple4[3][1])
print(tuple4[4][0])
print(len(concat_tuple))

1
(1, 2, 43, 'Hello world!', True, 3.14159, 4, 5, ' Hassan ', False)
[1, 2, 3, 4, 5, 6, 7, 8]
2
one

### Lists

In [ ]:
"""
 - orderd sequence of values
 - can containg diffrente data types and nested Lists and tuples
 - mutable
 - access the elements by it's indext
 - provide slicing
 - you can concatinate tuples => use list.extend([]) to add elements for the list
 - you can add one element => list.append([])
"""

list1 = [1,2,3,"hassan"]
print(list1)

# add one element at the end
list1.append("Hello, world!")
print(list1)

# delete an elment from the list
del(list1[-1])
print(list1)

# add mutiple elements using extend
list2 = [4,5,6]
list1.extend(list2)
print(list1)

# change an element
list1[3] = 0
print(list1)

[1, 2, 3, 'hassan']
[1, 2, 3, 'hassan', 'Hello, world!']
[1, 2, 3, 'hassan']
[1, 2, 3, 'hassan', 4, 5, 6]
[1, 2, 3, 0, 4, 5, 6]

### Dictionaries

In [ ]:
"""
 - type of collection in python
 - contain Keys and values
 - Keys are immutable and uniqe 'like indext in tuples and lists'
"""
DICT = {
    "Hassan" : 2004,
    "Ahmed baj" : 2003,
    "Mohhamed" : 2001
}

# access an element with its key
print(DICT["Hassan"])

# print all keys
print(DICT.keys())
# print all values
print(DICT.values())

# delete an element
del(DICT["Ahmed baj"])
print(DICT)

# check if the key exist
print("Hassan" in DICT)
print("Ahmed" in DICT)

# add element to the dictionary
DICT["Khaled"] = 1998
print(DICT)

print(list(DICT.keys()))

2004
dict_keys(['Hassan', 'Ahmed baj', 'Mohhamed'])
dict_values([2004, 2003, 2001])
{'Hassan': 2004, 'Mohhamed': 2001}
True
False
{'Hassan': 2004, 'Mohhamed': 2001, 'Khaled': 1998}
['Hassan', 'Mohhamed', 'Khaled']

### Sets

In [ ]:
"""
 - unorderd collection of objects 'no element is repeted'
 - add using => set.add()
 - remove using => set.remove()
"""

setA = {"Hassan" , "Khaled" , "bj"}
setB = {"bj", "sarah" , "amal"}
# intersection
print(setA & setB)
# union
print(setA.union(setB))
# check if set is subset
print(setA.issubset(setB))

{'bj'}
{'Khaled', 'sarah', 'amal', 'Hassan', 'bj'}
False