<a href="https://colab.research.google.com/github/Hassan-Ahlgamdi/python-notes/blob/main/notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# here where i save my python notes for ml and data science

## Data Collectoin types

### Tuples

In [ ]:
"""
  - an orderd sequence of values
  - can containg diffrente data types and nested tuples
  - immutable
  - access the elements by it's indext
  - provide slicing
  - you can concatinate tuples
"""
tuple1 = (1,2,43,"Hello world!" , True, 3.14159)
print(tuple1[0])

tuple2  = (4  , 5 ," Hassan " , False)
concat_tuple = tuple1 + tuple2
print(concat_tuple)

tuple3 = (3,2,4,5,1,6,8,7)
sorted_tuple = sorted(tuple3)
print(sorted_tuple)

tuple4 = (1,2,3, tuple1  , ("one" , "two"))
print(tuple4[3][1])
print(tuple4[4][0])
print(len(concat_tuple))

1
(1, 2, 43, 'Hello world!', True, 3.14159, 4, 5, ' Hassan ', False)
[1, 2, 3, 4, 5, 6, 7, 8]
2
one

### Lists

In [ ]:
"""
 - orderd sequence of values
 - can containg diffrente data types and nested Lists and tuples
 - mutable
 - access the elements by it's indext
 - provide slicing
 - you can concatinate tuples => use list.extend([]) to add elements for the list
 - you can add one element => list.append([])
"""

list1 = [1,2,3,"hassan"]
print(list1)

# add one element at the end
list1.append("Hello, world!")
print(list1)

# delete an elment from the list
del(list1[-1])
print(list1)

# add mutiple elements using extend
list2 = [4,5,6]
list1.extend(list2)
print(list1)

# change an element
list1[3] = 0
print(list1)

[1, 2, 3, 'hassan']
[1, 2, 3, 'hassan', 'Hello, world!']
[1, 2, 3, 'hassan']
[1, 2, 3, 'hassan', 4, 5, 6]
[1, 2, 3, 0, 4, 5, 6]

### Dictionaries

In [ ]:
"""
 - type of collection in python
 - contain Keys and values
 - Keys are immutable and uniqe 'like indext in tuples and lists'
"""
DICT = {
    "Hassan" : 2004,
    "Ahmed baj" : 2003,
    "Mohhamed" : 2001
}

# access an element with its key
print(DICT["Hassan"])

# print all keys
print(DICT.keys())
# print all values
print(DICT.values())

# delete an element
del(DICT["Ahmed baj"])
print(DICT)

# check if the key exist
print("Hassan" in DICT)
print("Ahmed" in DICT)

# add element to the dictionary
DICT["Khaled"] = 1998
print(DICT)

print(list(DICT.keys()))

2004
dict_keys(['Hassan', 'Ahmed baj', 'Mohhamed'])
dict_values([2004, 2003, 2001])
{'Hassan': 2004, 'Mohhamed': 2001}
True
False
{'Hassan': 2004, 'Mohhamed': 2001, 'Khaled': 1998}
['Hassan', 'Mohhamed', 'Khaled']

### Sets

In [ ]:
"""
 - unorderd collection of objects 'no element is repeted'
 - add using => set.add()
 - remove using => set.remove()
"""

setA = {"Hassan" , "Khaled" , "bj"}
setB = {"bj", "sarah" , "amal"}
# intersection
print(setA & setB)
# union
print(setA.union(setB))
# check if set is subset
print(setA.issubset(setB))

{'bj'}
{'Khaled', 'sarah', 'amal', 'Hassan', 'bj'}
False

## Objects and Classes in python

#### access modifires for attributes and methods
x => public and its the default \
_x => protected \
__x => private

In [20]:
class Employee:
  def __init__(self , name , salary):
    self.name = name
    self.__salary = salary
  def get_salary(self):
    return self.__salary
  def __private_method(self):
    print("This is private method, you can't use it out of the class")

emp1 = Employee("hassan", 100000)
print(emp1.name)
print(emp1.get_salary())
# print(emp1.__salary) # this code will not work
# emp1.private_method() # this code will not work

hassan
100000

### general informations about oop in python

In [13]:
# this is how to creat a class
class Student :
  university_name = "KAU" # static member or class member
  # this is working as a constructor
  def __init__(self, name, age, id, gpa): # self work as this in java i think
    self.name = name
    self.age = age
    self.id = id
    self.gpa = gpa
  # every method should have 'self' as the first parameter in it, and it's refer to the object who is calling the method
  def talk(self):
    print(f"this is me {self.name} talking")

  def grades(self):
    print(f"my GPA is {self.gpa}")

  def whatIsSelf(self):
    print(self) # this will print the location of the object in the memory

In [14]:
# how to creat an object
std1 = Student("Hassan Algamdi", 20 , "2335917", 4.98)
std1.talk()
std1.grades()
std1.whatIsSelf()

# python allow adding new attributes after object creation even if this attribute not in the class
std1.father = "Bander"
print(std1.father) # now the attribute 'father' stored in std1 object, but when you creat new another object it will not have this attribute in it
# delete 'father' attribute
del std1.father
# and you can delete an object
del std1

std2 = Student("sarah", 21 , '123', 5)
print(std2.university_name)

# dir(std1) # similar to 'toString'

this is me Hassan Algamdi talking
my GPA is 4.98
<__main__.Student object at 0x7c2b27403a00>
Bander
KAU